@model WebPaperAnalyzer.ViewModels.DictionaryModel

@{
    ViewData["Title"] = "AddDictionary";
}

<h2>Загрузить словарь</h2>
@using (Html.BeginForm("AddDictionary", "StudentTeacher", FormMethod.Post, new { enctype="multipart/form-data"}))
{
<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.File, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <label for="UploadFile" class="button-style">Select file</label>
            <input type="file" name="File" id="UploadFile" required />
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}
<p>Версия v.6</p>


