<div align="center">
    <input type="button" class="upload-form2" value="Добавить критерий" onclick="window.location.href='@Url.Action("TeacherAddCriterion", "StudentTeacher", new {mine = false})';"/>
    <input type="button" class="upload-form2" value="Посмотреть результаты" onclick="window.location.href='@Url.Action("TeacherViewResults", "StudentTeacher")';" />
</div>