@model AnalyzeResults.Presentation.PaperAnalysisResult
@{
    ViewData["Title"] = "Basic test web app";
}
<div class="main-container" style="justify-content: center;" id="main">
    <form id="FileUploadForm" asp-action="UploadFile" asp-controller="Home"
            method="post" enctype="multipart/form-data">
        <input id="uploadfile" type="file" style="margin: 20px 0"/>
        <button name="uploadbtn" type="submit">Проверить</button>
    </form>
    <div style="display: flex;">
        <div style="display: flex; width: 300px; flex-flow: column;">
            <div style="margin-top: 20px; width: 300px; height: 400px; display: flex; flex-direction: column;">
                <textarea style="min-width: 100%; min-height: 70px; max-width: 100%; max-height: 70px;" id="paperName" placeholder="Название статьи"></textarea>
                <textarea style="min-width: 100%; min-height: 300px; max-width: 100%; max-height: 300px;" id="titles" placeholder="Названия разделов на отдельной строке"></textarea>
                <textarea style="min-width: 100%; min-height: 30px; max-width: 100%; max-height: 30px;" id="refsName" placeholder="Название раздела со списком источников"></textarea>
            </div>
        </div>
        <div style="display: flex; width: 200px; margin-left: 20px; color: #feffff">
            Названия статьи и разделов необходимы для удобного, интерактивного отображения статьи и ошибок в ней.
        </div>
    </div>
</div>
<div class="loader-container" id="load">
    <div class="loader"></div>
    <div class="loader-label">Анализ статьи...</div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).on('change', ':file', function () {
            var input = $(this)
            var label = $('#BrowseInput').val(input.val().replace(/\\/g, '/').replace(/.*\//, ''));
        });
    </script>
    <script type="text/javascript">
        function getAntiForgeryToken() {
            token = $('input[name=__RequestVerificationToken]').val();
            return token;
        };
    </script>
    <script type="text/javascript">

        $(function () {
            $("#FileUploadForm").submit(function (e) {
                e.preventDefault();

                console.log('Doing ajax submit');

                var formAction = $(this).attr("action");
                var fdata = new FormData();

                var fileInput = $('#uploadfile')[0];
                var file = fileInput.files[0];
                fdata.append("file", file);

                var titles = $('#titles')[0].value;
                fdata.append("titles", titles);

                var paperName = $('#paperName')[0].value;
                fdata.append("paperName", paperName);

                var refsName = $('#refsName')[0].value;
                fdata.append("refsName", refsName);

                $('#main')[0].style.display = 'none';
                $('#load')[0].style.display = 'flex';

                $.ajax({
                    type: 'post',
                    url: formAction,
                    data: fdata,
                    processData: false,
                    contentType: false
                }).done(function (result) {
                    window.location.href='@Url.Action("Result", "Home")'
                });
            });
        })


    </script>
}
