version: '3.1'
services:
  mongo:
      image: mongo
      restart: always
      env_file:
        - ../.env
      environment:
        MONGO_INITDB_ROOT_USERNAME: root


  web-analyzer:
      build: .
      restart: always
      ports:
        - 4444:80
      env_file:
        - ../.env
      environment:
        MongoDB__Host: mongo
      depends_on:
        - mongo
      links:
        - mongo
