@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100vh;
    width: 100vw;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #3aafa9;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #2b7a78;
    display: inline-flex;
    color: #feffff;
    background-color: #2b7a78;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    transition: 0.3s;
}

    .custom-file-upload:hover {
        border: 1px solid #17252a;
        display: inline-flex;
        color: #feffff;
        background-color: #17252a;
    }

.custom-file-upload_disabled {
    border: 1px solid #3aafa9;
    display: inline-flex;
    color: #feffff;
    background-color: #3aafa9;
    height: 300px;
    width: 300px;
    border-radius: 150px;
    transition: 0.3s;
}

.custom-file-upload-label {
    cursor: pointer;
    margin: unset;
    height: 100%;
    width: 100%;
    text-align: center;
    line-height: 300px;
    font-size: 24px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.icon-none {
    display: none;
}

.textarea {
    min-width: 30%;
    min-height: 300px;
    max-width: 30%;
    max-height: 300px
}
