<div align="center">
    <input type="button" class="upload-form2" value="Добавить учителя" onclick="window.location.href = '@Url.Action("AddTeacher", "Admin")';" />
    <input type="button" class="upload-form2" value="Панель учителя" onclick="window.location.href = '@Url.Action("TeacherMainPage", "StudentTeacher")';" />
    <input type="button" class="upload-form2" value="Выйти из аккаунта" onclick="window.location.href='@Url.Action("Logout", "Account")';" />
</div>